<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <!-- Logging Properties -->
    <Properties>
        <Property name="LOG_PATTERN">[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</Property>
        <Property name="filename">logs</Property>
    </Properties>

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <!-- File Appender -->
        <File name="LOGFILE" fileName="${filename}/app.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"></PatternLayout>
        </File>
        <Routing name="RoutingAppender">
            <Routes pattern="$${ctx:logFileName}">
                <Route>
                    <File name="Route-${ctx:logFileName}" fileName="${filename}/${ctx:logFileName}.log" append="false">
                        <PatternLayout pattern="${LOG_PATTERN}"></PatternLayout>
                    </File>
                </Route>
                <Route ref="LOGFILE" key="$${ctx:logFileName}"/>
            </Routes>
        </Routing>
    </Appenders>

    <Loggers>
        <!-- Disable tree party library logger -->
        <Logger name="com.mitchellbosecke.pebble" level="OFF" additivity="false">
        </Logger>

        <Root level="debug">
            <AppenderRef ref="RoutingAppender"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>